streamlit
langchain
langchain-community
langchain-core
langchain-openai
faiss-cpu
docx2txt
python-docx
openpyxl
pypdf
pandas

streamlit
pandas
python-docx
python-pptx
openpyxl
openai
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
pypdf
